body {
    font-family: 'Times New Roman', Times, serif;
    background: #072d36;
    color: white;
}
h1 {
    text-align: center;
}
.create-post {
    max-width: 500px;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
textarea {
    resize: none;
    height: 80px;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
}
button {
    font-size: 14px;
    padding: 8px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
#feed {
    max-width: 500px;
    margin: auto;
}
.post {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}
.post-actions {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    font-size: 14px;
    cursor: pointer;
}
.comments {
    margin-top: 10px;
    font-size: 14px;
}
.comment-input {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}
.comment-input input {
    flex: 1;
    padding: 5px;
}